@model IEnumerable<WebApplication29.Models.contact_us>

@{
    ViewBag.Title = "Index";
}

@*<h2>Index</h2>*@

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsRead)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRead)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                @Html.ActionLink("Details", "Details", new { id=item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.id })
            </td>
        </tr>
    }

    </table>*@

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="row align-items-center my-4">
                <div class="col">
                    <h2 class="h3 mb-0 page-title">Contacts</h2>
                </div>
                <div class="col-auto">
                    @* <button type="button" class="btn btn-secondary">
                            <span class="fe fe-trash fe-12 mr-2"></span>Delete
                        </button>
                        <button type="button" class="btn btn-primary">
                            <span class="fe fe-filter fe-12 mr-2"></span>Create
                        </button>*@

                    <form id="filterForm" method="get" action="@Url.Action("Index")">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="isRead" id="all" value="" checked>
                            <label class="form-check-label" for="all">All</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="isRead" id="read" value="true">
                            <label class="form-check-label" for="read">Read</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="isRead" id="unread" value="false">
                            <label class="form-check-label" for="unread">Unread</label>
                        </div>
                    </form>

                </div>
            </div>
            <!-- table -->
            <div class="card shadow">
                <div class="card-body">
                    <table class="table table-borderless table-hover">
                        <thead>
                            <tr>

                                <th>
                                    @Html.DisplayNameFor(model => model.email)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.subject)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.message)
                                </th>

                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            { // Determine the row class based on the IsRead value
                                string rowClass = item.IsRead.HasValue && item.IsRead.Value ? "light-gray-bg" : "";
                                <tr class="@rowClass">



                                    <td>
                                        <p class="mb-0 text-muted"><strong>  @Html.DisplayFor(modelItem => item.email)</strong> </p>

                                        @*<small class="mb-0 text-muted">2474</small>*@



                                    </td>
                                    <td>
                                        <small class="mb-0 text-muted">
                                            @Html.DisplayFor(modelItem => item.name)
                                        </small>
                                    </td>
                                    <td>
                                        <small class="mb-0 text-muted">
                                            @Html.DisplayFor(modelItem => item.subject)
                                        </small>
                                    </td>

                                    <td>
                                        <small class="mb-0 text-muted">
                                            @Html.DisplayFor(modelItem => item.message)
                                        </small>
                                    </td>

                                    @*<td>
                                            <button class="btn btn-sm dropdown-toggle more-horizontal" type="button"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="text-muted sr-only">Action</span>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="#">Edit</a>
                                                <a class="dropdown-item" href="#">Remove</a>
                                                <a class="dropdown-item" href="#">Assign</a>
                                            </div>
                                        </td>*@

                                    <td>
                                        <a class="btn btn-info btn-sm" href="@Url.Action("Details", "contact_us", new { id = item.id })">
                                            <span class="fe fe-eye fe-12 mr-2"></span>Details
                                        </a>
                                    </td>



                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.querySelectorAll('input[name="isRead"]').forEach((elem) => {
        elem.addEventListener("change", function (event) {
            document.getElementById('filterForm').submit();
        });
    });
</script>